.calcWrapper {
  display: inline-block;
  max-width: 200px;
  padding: 10px;
}
.display {
}
.display input {
  max-width: 192px;
  width: 100%;
  font-size: 30px;
}
.buttos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttons button {
  width: 25%;
  height: 30px;
}
