.mainPhoto {
  width: 100%;
  height: 200px;
  background-image: url("https://www.meme-arsenal.com/memes/1a0d126c09ef9859f5946bde0c3a79ef.jpg");
}
.info {
  padding: 10px;
}
.info textarea {
  margin-bottom: 10px;
}

.mainImgContainer {
  position: relative;
  display: inline-block;
}
.info img {
  width: 200px;
  border: 2px solid grey;
}

.choosePhoto {
  display: none;
  position: absolute;
  top: 50%;
  left: 52px;
  z-index: 1000;
  color: transparent;
}
.mainImgContainer:hover .choosePhoto {
  display: inline-block;
  opacity: 0.7;
}
.mainImgContainer:hover {
  background-color: rgb(0, 0, 0, 0.8);
  z-index: 10000;
}
.mainImgContainer:hover img {
  opacity: 0.5;
}

.contacts {
  margin-left: 20px;
}
.profileError {
  display: inline-block;
  color: red;
  border: 2px solid red;
}
