.App-wrapper {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "h h" "n c";
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  grid-area: c;
  background-color: #999;
}
